
*{
    text-decoration: none;
    list-style-type: none;
    background-color: rgb(34, 42, 45);
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 42, 45);
}
.navbar ul{
    display: flex;
    margin-top: 2.5rem;
    align-items: center;

}
/* .navbar ul a{
    margin-left: 2rem;
} */
ul a{
    margin-right: 2rem;
    color: aliceblue;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;

}
ul a:hover{
    background-color: rgb(0, 0, 0);
}
    

.logo{
    color: aliceblue;
    margin: 2rem;
    font-size: 2rem;
    font-weight: bold;
}
    
