*{
    text-decoration: none;
    list-style-type: none;
    background-color: rgb(52, 52, 84);
}
.headers{
    display: flex;
    justify-content: space-between;
    background-color: rgb(52, 52, 84);
    margin-left: 2rem;
}
.navigation ul{
    display: flex;
    margin-top: 2.5rem;
    align-items: center;
}
.navigation ul a{
 margin-left: 1.5rem;
 margin-right: 2rem;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

ul a:hover{
    color: rgb(70, 71, 103) ;
}
.logos{
    color: aliceblue;
    margin-top: 3rem;
    font-size: 1.5rem;
    font-family: monospace;
}